In [64]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
from sklearn.preprocessing  import OneHotEncoder

In [226]:
df  = pd.read_csv('train.csv')

In [227]:
df[df.drop(dropavel,axis=1).isnull().any(1)].drop(dropavel,axis=1)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,436.3,495.4,581.2,399.4,520.0
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,474.5,544.1,599.0,459.8,580.0
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,M,0.0,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,438.2,419.7,394.5,403.2,440.0
13726,4583,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,2613800,São Vicente Ferrer,26,PE,33,F,0.0,...,1,1,1,1,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,423.8,557.9,533.0,452.4,560.0
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,F,0.0,...,1,1,1,1,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,460.5,528.9,569.3,398.0,600.0
13728,4585,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,3303203,Nilópolis,33,RJ,36,M,1.0,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,422.5,621.7,569.0,386.6,460.0
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,M,0.0,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,488.7,575.3,565.9,428.9,520.0

In [228]:
df['NU_NOTA_MT'].fillna(df['NU_NOTA_MT'].mean(),inplace=True)
model_1 = df.drop(['NU_INSCRICAO','NU_ANO','NU_NOTA_MT'],axis=1)
model_1.drop(dropavel,inplace=True,axis=1)
model_1 = pd.get_dummies(model_1)

In [229]:
df['NU_NOTA_MT'].shape

(13730,)

In [173]:
df.describe()

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,13730.000000,13730.0,1.373000e+04,13730.000000,13730.000000,13202.000000,13730.000000,13730.000000,1.312100e+04,13121.000000,...,6354.000000,6354.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,2938.000000
mean,2288.173926,2016.0,3.088548e+06,30.736708,21.593809,0.116043,2.185652,1.048871,3.057946e+06,30.429159,...,4.530217,3.962858,4.645594,4.678441,3.341515,4.458995,3.724618,3.506409,4.442098,3.671545
std,1321.230607,0.0,9.890495e+05,9.862405,7.043654,0.365986,1.007285,0.258895,9.703020e+05,9.670030,...,1.027613,1.625356,0.920998,0.865039,1.711930,1.200172,1.689362,1.718858,1.181549,1.746444
min,0.000000,2016.0,1.100023e+06,11.000000,13.000000,0.000000,0.000000,0.000000,1.100023e+06,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1144.000000,2016.0,2.307650e+06,23.000000,17.000000,0.000000,1.000000,1.000000,2.306900e+06,23.000000,...,5.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,3.000000
50%,2288.000000,2016.0,3.118601e+06,31.000000,19.000000,0.000000,3.000000,1.000000,3.106200e+06,31.000000,...,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000
75%,3432.000000,2016.0,3.550308e+06,35.000000,23.000000,0.000000,3.000000,1.000000,3.549805e+06,35.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,4586.000000,2016.0,5.300108e+06,53.000000,67.000000,3.000000,5.000000,4.000000,5.300108e+06,53.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

nu_inscrição ; ano ;'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009',
       'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018',
       'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027',
       'Q028', 'Q029', 'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036',
       'Q037', 'Q038', 'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045',
       'Q046', 'Q047', 'Q048', 'Q049', 'Q050'
       
       Perguntas sobre a vida da pessoa pode n ser relevantes
       
       tranformarn NaN em algo categorico e dps passar pro dummies ????

In [177]:
model_1.isnull().sum().sum()

0

In [220]:
df['NU_NOTA_MT'].head()

0    399.4
1    459.8
2      0.0
3      0.0
4      0.0
Name: NU_NOTA_MT, dtype: float64

In [237]:
model_1.dropna(inplace=True,axis=1)
#target.dropna(inplace=True)

target.shape , model_1.shape

((13730,), (13730, 8215))

In [197]:
df.columns[-90:]

Index(['IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN',
       'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011',
       'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020',
       'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029',
       'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046', 'Q047',
       'Q048', 'Q049', 'Q050'],
      dtype='object')

In [198]:
dropavel = ['CO_PROVA_CN','CO_PROVA_CH', 'CO_PROVA_LC','TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5','Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009',
       'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018',
       'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027',
       'Q028', 'Q029', 'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036',
       'Q037', 'Q038', 'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045',
       'Q046', 'Q047', 'Q048', 'Q049', 'Q050']

In [201]:
model_1.head()

,Unnamed: 0,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,...,SG_UF_PROVA_TO,CO_PROVA_MT_0e0082361eaceb6418bb17305a2b7912650b4783,CO_PROVA_MT_0ec1c8ac02d2747b6e9a99933fbf96127dd6e89e,CO_PROVA_MT_2d22ac1d42e6187f09ee6c578df187a760123ccf,CO_PROVA_MT_577f8968d95046f5eb5cc158608e12fa9ba34c85,CO_PROVA_MT_6d6961694e839531aec2d35bbd8552b55394a0d7,CO_PROVA_MT_73c5c86eef8f70263e4c5708d153cca123f93378,CO_PROVA_MT_767a32545304ed293242d528f54d4edb1369f910,CO_PROVA_MT_81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,CO_PROVA_MT_97caab1e1533dba217deb7ef41490f52e459ab01
0,1,4314902,43,24,0.0,1,1,4314902.0,43.0,1,...,0,0,0,0,0,0,0,0,0,1
1,2,2304707,23,17,0.0,3,1,2304707.0,23.0,2,...,0,0,0,0,0,0,0,0,0,1
2,3,2304400,23,21,0.0,3,1,2304400.0,23.0,3,...,0,0,0,1,0,0,0,0,0,0
3,4,3304557,33,25,0.0,0,1,3304557.0,33.0,1,...,0,0,0,1,0,0,0,0,0,0
4,5,1302603,13,28,0.0,2,1,1505304.0,15.0,1,...,0,0,0,1,0,0,0,0,0,0

In [211]:
target.head()

0    399.4
1    459.8
2      NaN
3      NaN
4      NaN
Name: NU_NOTA_MT, dtype: float64

In [230]:
target = df['NU_NOTA_MT'].copy()
#target.replace(np.NaN,"Eunwoo",inplace=True)
target[:5]

0    399.400000
1    459.800000
2    482.497928
3    482.497928
4    482.497928
Name: NU_NOTA_MT, dtype: float64

In [239]:
model_1.isnull().sum().sum(), target.isnull().sum().sum()

(0, 0)

In [51]:
from sklearn.linear_model import LinearRegression

In [56]:
lr = LinearRegression()

In [240]:
lr.fit(model_1, target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [255]:
test = pd.read_csv('test.csv')
#test = pd.get_dummies(test)
#test.replace(np.NaN,, inplace=True)

In [258]:
test['NU_NOTA_MT'].head()

KeyError: 'NU_NOTA_MT'

In [260]:
test.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A

In [250]:
lr.predict(test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [245]:
np.mean((target - lr.predict(test.drop(dropavel,axis=1,inplace=True)))**2)

KeyError: "['TX_RESPOSTAS_CN' 'TX_RESPOSTAS_CH' 'TX_RESPOSTAS_LC' 'TX_RESPOSTAS_MT'\n 'TX_GABARITO_CN' 'TX_GABARITO_CH' 'TX_GABARITO_LC' 'TX_GABARITO_MT'\n 'Q003' 'Q004' 'Q005' 'Q007' 'Q008' 'Q009' 'Q010' 'Q011' 'Q012' 'Q013'\n 'Q014' 'Q015' 'Q016' 'Q017' 'Q018' 'Q019' 'Q020' 'Q021' 'Q022' 'Q023'\n 'Q028' 'Q029' 'Q030' 'Q031' 'Q032' 'Q033' 'Q034' 'Q035' 'Q036' 'Q037'\n 'Q038' 'Q039' 'Q040' 'Q041' 'Q042' 'Q043' 'Q044' 'Q045' 'Q046' 'Q048'\n 'Q049' 'Q050'] not found in axis"