In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')

In [20]:
df.head(10)

,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005,Q034,Q035,Q036,Q037,Q038,Q039,Q040
0,4314902,43,24,0.0,1,1,4314902.0,43.0,1,4,...,80.0,520.0,3,5,5,0,5,5,5,5
1,2304707,23,17,0.0,3,1,2304707.0,23.0,2,0,...,80.0,580.0,5,5,5,1,1,1,1,1
5,2902005,29,18,0.0,1,1,2933307.0,29.0,1,1,...,100.0,620.0,5,4,5,5,5,5,5,5
6,5102637,51,18,0.0,3,1,2804508.0,28.0,2,0,...,100.0,560.0,3,5,5,2,5,2,0,2
7,4301602,43,18,0.0,1,1,3550308.0,35.0,1,1,...,120.0,620.0,4,5,5,5,5,1,5,5
8,2601904,26,16,0.0,3,1,2601904.0,26.0,2,0,...,100.0,680.0,3,4,4,2,4,1,0,5
10,2603207,26,29,0.0,3,1,2603207.0,26.0,1,8,...,120.0,520.0,4,5,5,5,5,5,1,5
11,2111300,21,17,0.0,3,1,5300108.0,53.0,2,0,...,60.0,580.0,3,4,5,1,5,4,5,5
12,4314902,43,27,0.0,3,1,4314902.0,43.0,1,7,...,0.0,360.0,4,4,0,5,5,0,1,5
14,2401859,24,18,0.0,3,1,2411601.0,24.0,1,2,...,60.0,360.0,3,1,4,3,5,5,4,5

In [4]:
df.dtypes.value_counts()

int64      79
object     60
float64    28
dtype: int64

In [5]:
for c in df.columns:
    if str(df[c].dtype) == 'object':
        df.drop(c, inplace=True, axis=1)

In [6]:
drop = ['NU_ANO','Unnamed: 0','Q029','Q030','Q031','Q032','Q033','Q041','CO_UF_ENTIDADE_CERTIFICACAO','TP_ENSINO',
        'CO_ESCOLA','CO_MUNICIPIO_ESC','CO_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC']
df.drop(drop, axis=1, inplace=True)
df['TP_ESTADO_CIVIL'].fillna(0, inplace=True)
df['NU_NOTA_MT'].dropna(inplace=True,axis=0)

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(9687, 91)

In [9]:
df.shape

(9687, 91)

In [10]:
for na in df.columns:
    if df[na].isna().sum() > 0:
        print(na, df[na].isna().sum())

In [11]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [12]:
normal = preprocessing.MinMaxScaler()
df_fit = normal.fit_transform(df.drop(['NU_NOTA_MT'],axis=1))
df_normal = pd.DataFrame(df_fit)
df_normal.columns = df.drop(['NU_NOTA_MT'],axis=1).columns
df_normal['NU_NOTA_MT'] = df['NU_NOTA_MT'].reset_index(drop=True)

In [13]:
for na in df_normal.columns:
    if df_normal[na].isna().sum() > 0:
        print(na, df[na].isna().sum())

In [14]:
df_normal.head()

,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NU_NOTA_REDACAO,Q005,Q034,Q035,Q036,Q037,Q038,Q039,Q040,NU_NOTA_MT
0,0.765432,0.761905,0.207547,0.0,0.2,0.0,0.765432,0.761905,0.000000,0.4,...,0.52,0.105263,1.0,1.0,0.0,1.0,1.0,1.0,1.0,399.4
1,0.286824,0.285714,0.075472,0.0,0.6,0.0,0.286824,0.285714,0.333333,0.0,...,0.58,0.210526,1.0,1.0,0.2,0.2,0.2,0.2,0.2,459.8
2,0.429035,0.428571,0.094340,0.0,0.2,0.0,0.436487,0.428571,0.000000,0.1,...,0.62,0.210526,0.8,1.0,1.0,1.0,1.0,1.0,1.0,364.5
3,0.952984,0.952381,0.094340,0.0,0.6,0.0,0.405822,0.404762,0.333333,0.0,...,0.56,0.105263,1.0,1.0,0.4,1.0,0.4,0.0,0.4,529.2
4,0.762265,0.761905,0.094340,0.0,0.2,0.0,0.583389,0.571429,0.000000,0.1,...,0.62,0.157895,1.0,1.0,1.0,1.0,0.2,1.0,1.0,566.7

In [15]:
X = df_normal['NU_NOTA_MT']
Y = df_normal.drop('NU_NOTA_MT', axis=1)
x_train, x_test, y_train, y_test = train_test_split(X,Y)

In [16]:
model = LinearRegression(fit_intercept=True)
model.fit(y_train, x_train)
pred = model.predict(y_test)

In [17]:
show = pd.DataFrame({"previsto":pred,'real':x_test})
show.head(10).reset_index(drop=True)

     previsto   real
0  464.129441  526.1
1  484.501316  373.9
2  459.443216  459.3
3  505.245066  571.1
4  429.396341  457.7
5  483.100165  538.5
6  580.158142  488.5
7  448.154153  353.6
8  485.429441  464.0
9  434.061966  494.7

In [21]:
print('Mean Absolute Error:', metrics.mean_absolute_error(x_test, pred))  
print('Mean Squared Error:', metrics.mean_squared_error(x_test, pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(x_test, pred)))

Mean Absolute Error: 16940655225.130177
Mean Squared Error: 6.950796013483061e+23
Root Mean Squared Error: 833714340375.8304

Mean Absolute Error: 0.06499006693466441<br>
Mean Squared Error: 0.006777523372179444<br>
Root Mean Squared Error: 0.08232571513311891<Br>

In [19]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso, Ridge, SGDRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline, FeatureUnion

X_train, X_test, Y_train, Y_test =  train_test_split(X, Y, test_size = 0.33)

pipe = Pipeline([
    ('scale', StandardScaler()),
    ('regr', Lasso())
])

param_grid = [
    {
        'regr': [Lasso(), Ridge()],
        'regr__alpha': np.logspace(-4, 1, 6),
    },
    {
        'regr': [SGDRegressor()],
        'regr__alpha': np.logspace(-5, 0, 6),
        'regr__max_iter': [500, 1000],
    },
]

grid = GridSearchCV(pipe, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)
grid.fit(np.array(X_train).reshape(-1, 1), Y_train)

predicted = grid.predict(np.array(X_test).reshape(-1, 1))

print('Score:\t{}'.format(grid.score(np.array(X_test).reshape(-1, 1), Y_test)))

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:   11.2s

Score:	0.029260135869981125

[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:   11.9s finished
C:\Users\dede-\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

In [25]:
grid.decision_function(X)

AttributeError: 'Ridge' object has no attribute 'decision_function'