In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
treino = pd.read_csv('train.csv')
teste = pd.read_csv('test.csv')

In [3]:
treino.head(10)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
5,6,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2016,2902005,Aracatu,29,BA,18,F,0.0,...,NaN,A,A,A,A,A,A,A,A,A
6,7,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,2016,5102637,Campo Novo do Parecis,51,MT,18,F,0.0,...,0.0,A,A,A,B,B,A,A,A,A
7,8,2eb189d4912f64b19d1967e8e84b6141aba18770,2016,4301602,Bagé,43,RS,18,F,0.0,...,NaN,C,A,A,A,A,D,A,A,A
8,9,5822cb43e0800429be2084b3f86a63aaa73fa66c,2016,2601904,Bezerros,26,PE,16,F,0.0,...,NaN,D,A,A,A,B,A,D,B,A
9,10,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,2016,3152501,Pouso Alegre,31,MG,24,M,0.0,...,NaN,A,A,A,B,D,A,B,B,C

In [7]:
dropavel = ['Unnamed: 0','NU_ANO','TP_ESTADO_CIVIL','CO_MUNICIPIO_NASCIMENTO','NO_MUNICIPIO_NASCIMENTO','CO_UF_NASCIMENTO',
            'SG_UF_NASCIMENTO','CO_ESCOLA','CO_MUNICIPIO_ESC','NO_MUNICIPIO_ESC','CO_UF_ESC','SG_UF_ESC','TP_LOCALIZACAO_ESC',
            'TP_SIT_FUNC_ESC','NO_ENTIDADE_CERTIFICACAO','CO_UF_ENTIDADE_CERTIFICACAO','SG_UF_ENTIDADE_CERTIFICACAO',
            'CO_PROVA_CN','CO_PROVA_CH', 'CO_PROVA_LC','TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
            'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
            'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
            'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
            'NU_NOTA_COMP5','SG_UF_RESIDENCIA','Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009',
            'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018',
            'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027',
            'Q028', 'Q029', 'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036',
            'Q037', 'Q038', 'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045',
            'Q046', 'Q047', 'Q048', 'Q049', 'Q050']

In [8]:
treino.drop(dropavel, inplace=True, axis=1)

In [9]:
treino.head(10)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,4314902,Porto Alegre,43,RS,24,M,1,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,436.3,495.4,581.2,399.4,520.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2304707,Granja,23,CE,17,F,3,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,474.5,544.1,599.0,459.8,580.0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2304400,Fortaleza,23,CE,21,F,3,1,3,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,3304557,Rio de Janeiro,33,RJ,25,F,0,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,1302603,Manaus,13,AM,28,M,2,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
5,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2902005,Aracatu,29,BA,18,F,1,1,1,...,1,1,1,1,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,439.7,583.2,410.9,364.5,620.0
6,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,5102637,Campo Novo do Parecis,51,MT,18,F,3,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,420.1,604.2,484.5,529.2,560.0
7,2eb189d4912f64b19d1967e8e84b6141aba18770,4301602,Bagé,43,RS,18,F,1,1,1,...,1,1,1,1,577f8968d95046f5eb5cc158608e12fa9ba34c85,619.6,625.8,611.2,566.7,620.0
8,5822cb43e0800429be2084b3f86a63aaa73fa66c,2601904,Bezerros,26,PE,16,F,3,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,500.5,555.2,521.8,372.4,680.0
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,3152501,Pouso Alegre,31,MG,24,M,4,2,4,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN

In [12]:
treino[treino['NU_NOTA_MT'].isnull()]

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2304400,Fortaleza,23,CE,21,F,3,1,3,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,3304557,Rio de Janeiro,33,RJ,25,F,0,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,1302603,Manaus,13,AM,28,M,2,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,3152501,Pouso Alegre,31,MG,24,M,4,2,4,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
13,8570b9be0b2b629d00743d0de77cd95a84a46fbc,2304400,Fortaleza,23,CE,19,F,3,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13711,bc6ea97fcc031786198e58ca5485d2648a2145fb,2703007,Ibateguara,27,AL,17,F,5,1,3,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
13713,e60cbd0026dae31e4f0580a909465c83355ea282,1100205,Porto Velho,11,RO,25,M,3,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
13715,99cfec493fefde4fcec60fd8c1e3eb1fe891fb31,4108403,Francisco Beltrão,41,PR,24,F,1,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
13716,00bb288d1b225bf07136b1d6e5a20a0fa7f7e2a9,4209003,Joaçaba,42,SC,18,M,3,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN
13722,a78cd7c85a7ed2a29190ed3e40a8cf8dad2d7335,3201209,Cachoeiro de Itapemirim,32,ES,25,M,3,1,1,...,0,0,0,0,2d22ac1d42e6187f09ee6c578df187a760123ccf,NaN,NaN,NaN,NaN,NaN

In [13]:
a = treino.isnull().sum()

In [14]:
nomes = []
for col , ind in zip(a.index,a.values):
    if ind > 0:
        col, ind
        nomes.append(col)

In [15]:
a.values

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0, 9448,    0, 9448,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
       3389, 3389, 3597, 3597, 3597], dtype=int64)

In [17]:
treino.isnull().sum().sum()

36465

In [18]:
falto = treino[treino['TP_PRESENCA_MT'] == 0 ].index
treino.drop(falto,inplace=True)

colo = treino[treino['TP_PRESENCA_MT'] ==  2 ].index
treino.drop(colo,inplace=True)

In [19]:
treino['NU_NOTA_MT'].head(10)

0     399.4
1     459.8
5     364.5
6     529.2
7     566.7
8     372.4
10    419.6
11    369.9
12    464.2
14    453.4
Name: NU_NOTA_MT, dtype: float64

In [20]:
classe = treino['NU_NOTA_MT']

In [21]:
classe.shape

(10133,)

In [22]:
x_train, x_test, y_train, y_test = train_test_split(treino,classe)

In [23]:
x_train.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
4778,b14dc9d6e979fc4acf188b2ea3de338be97e2059,2307304,Juazeiro do Norte,23,CE,17,F,3,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,444.2,500.9,465.5,450.9,640.0
2137,73d82a360a65adeb2643cd705f5622dff876c1e5,2802106,Estância,28,SE,17,M,2,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,420.5,559.9,500.2,396.6,560.0
8656,0a8c9dad8e33d8ee36b55fd8098b1c4a864d6aff,3505708,Barueri,35,SP,22,F,1,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,410.3,626.0,587.4,577.2,860.0
9543,737a3b9469859463e44c22b9972089393eb9aaef,3550308,São Paulo,35,SP,27,M,0,1,1,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,634.8,697.3,659.3,773.2,860.0
11005,061b0448fc9e9f5f45f1583b3354085bf7ae9e9f,2308708,Morada Nova,23,CE,18,M,1,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,549.7,553.7,577.9,437.4,780.0

In [24]:
treino[treino['TP_PRESENCA_MT'] == 0]['NU_NOTA_MT'].isnull().sum()

0

In [26]:
treino.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,4314902,Porto Alegre,43,RS,24,M,1,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,436.3,495.4,581.2,399.4,520.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2304707,Granja,23,CE,17,F,3,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,474.5,544.1,599.0,459.8,580.0
5,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2902005,Aracatu,29,BA,18,F,1,1,1,...,1,1,1,1,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,439.7,583.2,410.9,364.5,620.0
6,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,5102637,Campo Novo do Parecis,51,MT,18,F,3,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,420.1,604.2,484.5,529.2,560.0
7,2eb189d4912f64b19d1967e8e84b6141aba18770,4301602,Bagé,43,RS,18,F,1,1,1,...,1,1,1,1,577f8968d95046f5eb5cc158608e12fa9ba34c85,619.6,625.8,611.2,566.7,620.0

In [28]:
for nome in nomes:
      if nome not in teste.columns :
            print(nome)

NU_NOTA_MT

In [31]:
teste[teste['TP_PRESENCA_MT'] == 0]

KeyError: 'TP_PRESENCA_MT'

In [30]:
for coluna in treino.columns:
    if coluna not in teste.columns:
        treino.drop(coluna, axis=1, inplace=True)

2/7/2020

In [37]:
x_train.reset_index(drop=True)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,...,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,b14dc9d6e979fc4acf188b2ea3de338be97e2059,2307304,Juazeiro do Norte,23,CE,17,F,3,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,444.2,500.9,465.5,450.9,640.0
1,73d82a360a65adeb2643cd705f5622dff876c1e5,2802106,Estância,28,SE,17,M,2,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,420.5,559.9,500.2,396.6,560.0
2,0a8c9dad8e33d8ee36b55fd8098b1c4a864d6aff,3505708,Barueri,35,SP,22,F,1,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,410.3,626.0,587.4,577.2,860.0
3,737a3b9469859463e44c22b9972089393eb9aaef,3550308,São Paulo,35,SP,27,M,0,1,1,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,634.8,697.3,659.3,773.2,860.0
4,061b0448fc9e9f5f45f1583b3354085bf7ae9e9f,2308708,Morada Nova,23,CE,18,M,1,1,2,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,549.7,553.7,577.9,437.4,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7594,28648fe0be1d702a5f4368eb388b0ff7370415f3,3133709,Itatiaiuçu,31,MG,24,F,3,1,2,...,1,1,1,1,767a32545304ed293242d528f54d4edb1369f910,482.6,580.7,577.1,514.6,520.0
7595,ea4e042bad76e40c02286011c08f11d0aa1ec4f9,2111300,São Luís,21,MA,37,F,3,1,1,...,1,1,1,1,0ec1c8ac02d2747b6e9a99933fbf96127dd6e89e,370.6,459.1,430.3,326.7,460.0
7596,fa5272f7722bcaaaa5a6d15130d3a1e44a71ef02,2914653,Itabela,29,BA,23,F,3,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,401.6,564.5,514.2,466.9,500.0
7597,2a373dff21c482e5a8182ef6062f1808764c1de8,4215000,Rio Negrinho,42,SC,17,F,1,1,2,...,1,1,1,1,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,439.8,530.6,521.0,349.9,580.0
7598,a05919af3e72758258b2f7575d352b26e406648d,5211909,Jataí,52,GO,41,F,3,1,1,...,1,1,1,1,97caab1e1533dba217deb7ef41490f52e459ab01,402.3,386.2,393.3,361.9,360.0

In [41]:
teste[teste['CO_UF_RESIDENCIA']==35]['SG_UF_RESIDENCIA']

6       SP
17      SP
18      SP
20      SP
29      SP
        ..
4554    SP
4561    SP
4562    SP
4572    SP
4573    SP
Name: SG_UF_RESIDENCIA, Length: 698, dtype: object

In [44]:
teste.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A